$header-text-color: #9DA4BD;
$header-title-color: #FFFFFF;
$accent-color: #FF6C00;
$header-social-color: #303030;
$header-rgba-color: rgba(157, 164, 189, 0.6);
$header-title-text: Open-Sans, sans-serif;
$header-secondary-text: 'Raleway', sans-serif;

.header {
    position: relative;
    
    @media screen and (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 31px;
        padding-right: 31px;
    }

    @media screen and (min-width: 768px) {
        padding-left: 50px;
        padding-right: 39px;
    }

    @media screen and (min-width: 1200px) {
        padding-left: 55px;
        max-width: 1600px;
    }
}

.main_block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.logo {
    @media screen and (max-width: 767px) {
        z-index: 1;
        fill: $header-title-color;
    }
}

.menu-button {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 48px;
        right: 31px;
        display: inline-flex;
        margin: 0;
        padding: 0;
        z-index: 100;
        border: none;
        outline: none;
        background-color: transparent;

        & .icon-close {
            display: block;
            //z-index: 10;
        }

        & .icon-menu {
            display: none;
        }

        &.is-open .icon-menu {
            display: block;
        }

        &.is-open .icon-close {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

/*.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(25, 28, 38, 0.2);
    transform: translate(100%);

    &.is-open {
        transform: translate(-100%);
        transition: transform 500ms linear;
    }
}*/

.main-nav {

    &.is-open {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        min-width: 337px;
        padding-top: 118px;
        padding-left: 40px;
        padding-bottom: 227px;
        padding-right: 103px;
        z-index: 5;
        background-color: $header-title-color;
        box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
    }  
}


.header-block {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
    }
}

.site-nav__list {
    z-index: 1;
    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        padding-top: 12px;
    }

    @media screen and (min-width: 1200px) {
       // justify-content: flex-start;
    }
}

.site-nav__item {
    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 1.38;
    }
    
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.33;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }

        @media screen and (min-width: 768px) {
            margin-right: 24px;
        }

        @media screen and (min-width: 1200px) {
            margin-right: 40px;
        }
    }
}

.site-nav__link {
    @media screen and (max-width: 767px) {
        color: $header-social-color;
    }
    
    @media screen and (min-width: 768px) {
        color: $header-title-color;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.group__block {
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        margin-left: 47px;
        z-index: 1;
        flex-direction: column-reverse;
        align-items: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        margin-left: 315px;
        z-index: 1;
        align-items: baseline;
    }
}

.contact__block {
    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }
}

.contact__link {
    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 1.38;
        color: $header-social-color;
    }
    
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.33;
        color: $header-title-color
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.header__button {
    display: inline-block;

    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;

    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-align: center;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
        padding: 12px 37px;
        min-width: 194px;
        color: $header-social-color;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
        margin-bottom: 20px;
        padding: 12px 20px;
        min-width: 160px;
        color: $header-title-color;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 40px;
        padding: 12px 20px;
        min-width: 160px;
        color: $header-title-color;
    }
   
    &:hover,
    &:focus {
        outline: none;
        color: $header-title-color;
        background-color: $accent-color;
    }
}

.page-social__list {
    @media screen and (max-width: 767px) {
        position: relative;
        padding-left: 100px; 
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    &::before {
        @media screen and (max-width: 767px) {
            position: absolute;
            left: 0;
            bottom: 80%;
            display: inline-flex;
            align-items: center;
            content: "";
            margin-right: 40px;
            width: 60px;
            height: 1px;
            background-color: $header-social-color;
        }
    }
}

.page-social__item {
    @media screen and (min-width: 768px) {
        writing-mode: vertical-rl;
        margin-left: 38px;
        margin-bottom: 40px;
        z-index: 1;
    }
    
    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }
    
        @media screen and (min-width: 768px) {
            margin-right: 40px;
        }
    }
}

.page-social__link {
    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.2em;
    color: $header-social-color;

    @media screen and (max-width: 767px) {
        font-size: 14px;
        line-height: 1.35;
    }

    @media screen and (min-width: 768px) {
        font-size: 11px;
        line-height: 1.36;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}