.header {
    position: relative;
}

.main {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;

    @media screen and (max-width: 767px) {
        padding-left: 16px;
        padding-right: 16px;
        
    }

    @media screen and (min-width: 768px) {
        padding-top: 32px;
        /*justify-content: space-evenly;*/

    }
    
}

.logo {
    /*margin-right: 30px;*/
    z-index: 1;

    @media screen and (max-width: 767px) {
        fill: $header-title-color;
    }

    @media screen and (min-width: 768px) {
        margin-left: 11px;
        fill: $header-social-color;
    }
    
}

.menu-button {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 48px;
        right: 31px;
        display: inline-flex;
        margin: 0;
        padding: 0;
        z-index: 1;
        border: none;
        outline: none;
        background-color: transparent;

        & .icon-close {
            display: block;
        }

        & .icon-menu {
            display: none;
        }

        &.is-open .icon-menu {
            display: block;
        }

        &.is-open .icon-close {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

/*.backdrop {
    @media screen and (min-width: 768px) {
        display: none;
    }
}*/

.main-nav {
    z-index: 1;

    @media screen and (max-width: 767px) {
        /*display: none;*/
        
        &.is-open {
            position: absolute;
            display: block;
            top: 0;
            right: 0;
            min-width: 337px;
            padding-top: 118px;
            padding-left: 40px;
            padding-bottom: 227px;
            padding-right: 103px;
            background-color: $header-title-color;
            box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.04), -2px 0px 4px rgba(0, 0, 0, 0.08), -1px 0px 3px rgba(0, 0, 0, 0.16);
        
            /*transform: translateX(-100%);
            transition: transform 500ms linear;*/
        }

        @media screen and (min-width: 768px) {
            
        }
    }
}

.header-list {
    @media screen and (min-width: 768px) {
        display: flex;
    }
}

.list {
    z-index: 1;
    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        margin-left: 24px;
        padding-top: 12px;
        
    }
}

.list .item {
    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 1.38;
    }
    
    @media screen and (min-width: 768px) {
        margin-right: 47px;
        font-size: 12px;
        line-height: 1.33;
    }

    &:not(:last-child) {
        @media screen and (max-width: 767px) {
            margin-bottom: 24px;
        }

        @media screen and (min-width: 768px) {
            margin-right: 24px;
        }
    }
}

.item .link {
    @media screen and (max-width: 767px) {
        color: $header-social-color;
    }
    
    @media screen and (min-width: 768px) {
        color: $header-title-color;
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.block {
    @media screen and (min-width: 768px) {
        display: flex;
        /*margin-right: auto;
        margin-bottom: 156px;*/
        z-index: 1;
        flex-direction: column-reverse;
        align-items: center;
        
    }

    
}

.contact {
    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }
}

.contact-link {
    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;

    @media screen and (max-width: 767px) {
        font-size: 18px;
        line-height: 1.38;
        color: $header-social-color;
    }
    
    @media screen and (min-width: 768px) {
        font-size: 12px;
        line-height: 1.33;
        color: $header-title-color
    }

    &:hover,
    &:focus {
        color: $accent-color;
    }
}

.button-appointment {
    display: inline-block;

    background-color: transparent;
    border: 1px solid #FF6C00;
    border-radius: 25px;

    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        margin-bottom: 64px;
        padding: 12px 37px;
        min-width: 194px;
        color: $header-social-color;
    }

    @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        padding: 12px 20px;
        min-width: 160px;
        color: $header-title-color;
    }
   
    &:hover,
    &:focus {
        outline: none;
        color: $header-title-color;
        background-color: $accent-color;
    }
}

/*.sidebar {
    @media screen and (min-width: 768px) {
        display: none;
    }
}*/

.page-social {
    @media screen and (max-width: 767px) {
        position: relative;
        padding-left: 100px; 
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

    &::before {
        @media screen and (max-width: 767px) {
            position: absolute;
            left: 0;
            bottom: 80%;
            display: inline-flex;
            align-items: center;
            content: "";
            margin-right: 40px;
            width: 60px;
            height: 1px;
            background-color: $header-social-color;
        }
    }
}

.social:not(:last-child) {
    @media screen and (max-width: 767px) {
        margin-bottom: 24px;
    }

    @media screen and (min-width: 768px) {
        margin-right: 40px;
    }
}

.social-link {
    font-family: $header-title-text;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.2em;
    color: $header-social-color;

    &:hover,
    &:focus {
        color: $accent-color;
    }
}